<!DOCTYPE html>
<html lang="en">
<head>
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>我要捐助</title>
<link rel="stylesheet" href="../../../resources/font/iconfont.css" />
<link rel="stylesheet" href="../../../resources/css/css.css">
<script src="../../../resources/js/jquery-2.2.3.min.js"></script>
<style>
[v-cloak] {
	display: none !important;
}
</style>
</head>
<body>
	<div class="container" id="app" v-cloak><a href="b.html"></a></div>

	<script type="text/javascript">
		window.addEventListener("popstate", function(e) {
			alert("location: " + document.location + ", state: " + JSON.stringify(event.state));
			
		}, false);
	</script>
</body>
</html>