<!DOCTYPE html>
<html lang="en">
<head>
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>我要捐款</title>
<link rel="stylesheet" href="../font/iconfont.css" />
<link rel="stylesheet" href="../css/css.css">
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/flex.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/main.js"></script>
<style>
[v-cloak] {
	display: none !important;
}
</style>
</head>
<body>
	<div class="container" id="app" v-cloak></div>

	<script type="text/javascript">
		window.onpageshow = function(e) {
			if (e.persisted) {
				window.location.reload(true);
			} else {
				var vm = new Vue(
						{
							el : '#app',
							data : function() {
								return {
									msg : "oauth授权中……"
								}
							},
							created : function() {
								var _self = this;
								var action = getUrlKey("action");
								if (action == null || action == "") {
									_self.msg = "action参数不正确";
									return;
								}
								var redirectUrl = "/static/user/getUser.html?action={0}".replace("{0}", action);
								$.ucsajax({
											type : 'post',
											apiurl : "/system/getOauthUrl",
											apidata : {
												redirectUrl : redirectUrl
											},
											apisuccess : function(result) {
												_self.msg = "准备跳转到微信授权";												
												location.replace(result.dicData.oauthUrl);
											}
										});
							},
							updated : function() {

							},
							methods : {

							},
							computed : {

							}
						});
			}
		}
	</script>
</body>
</html>