<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>爱心义卖</title>
    <link rel="stylesheet" href="../../../resources/font/iconfont.css"/>
    <link rel="stylesheet" href="../../../resources/css/css.css">
    <script src="../../../resources/js/jquery-2.2.3.min.js"></script>
    <script src="../../../resources/js/flex.js"></script>
</head>
<body>
    <div class="container no-icon">
        <img src="../../../resources/img/icon-love.png" alt="">
        <p>爱心义卖即将上线, 敬请期待</p>
    </div>

</body>
</html>